<!DOCTYPE html>
<html>
<head>
<title>
	<% if content_for?(:title) %>
		<%= yield(:title) %>
	<% else %>
		Ticketee
	<% end %>
</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= flash.each do |key, value| %>

<div class='flash' id='<%= key %>'>
    <%= value %>
</div>
<% end %>

</body>
</html>
