 <% if @project.errors.any? %>

   <div id="error_explanation">
       <h2><%= pluralize(@project.errors.count, "error") %>
         prohibited this project from being saved:
       </h2>
 
    <ul>
    	 <% @project.errors.full_messages.each do |msg| %>
    	  <li><%= msg %></li>
    	 <% end %>
    </ul>


   </div>

 <% end %>

<%= form_for(@project) do |f| %>

  <p>
  	  <%= f.label :name %><br />
  	  <%= f.text_field :name %>
  </p>

  <p>
  	 <%= f.label :description %><br />
  	 <%= f.text_field :description %>
  </p>
  <%= f.submit %>

<% end %>