<% title(@project.name, "Projects") %>
<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Delete Project",
    project_path(@project),
    method: :delete,
    data: { confirm: 
    	      "Are you sure you want to delete this project?"
          } %>
